    #section1 {
        text-align: center;
    }
    
    #butnp {
        padding: 5px 28px;
        border-radius: 22px;
        /* border: 2px solid; */
        font-size: 15px;
        /* border-radius: 33%; */
        background-color: #fff0eb;
        color: #FD6E36;
        font-weight: 600;
    }
    
    p {
        color: gray;
        font-weight: 100;
    }
    
    #price_row {
        width: 100%;
    }
    
    #div {
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
        padding: 5%;
        margin: 18px;
        width: 29%;
        position: relative;
        overflow: hidden;
    }
    
    .container {
        display: flex;
        width: 84% !important;
        /* margin: 50% 50%; */
        justify-content: space-around;
    }
    
    h5 {
        color: #4a4747;
    }
    
    #i {
        font-size: 60px;
        margin-top: 9%;
    }
    
    #price_p {
        font-size: 34px;
        font-weight: 700;
        color: black;
        font-family: 'FontAwesome';
        margin-top: 3%;
    }
    
    #period_p {
        margin-top: -11%;
        font-weight: 400;
        margin-bottom: 20%;
    }
    
    #btns {
        padding: 12px 35px;
        border-radius: 22px;
        /* border: 2px solid; */
        font-size: 15px;
        background-color: #EFF0F4;
        color: #8998AC;
    }
    
    #btns2 {
        padding: 12px 35px;
        border-radius: 22px;
        /* border: 2px solid; */
        font-size: 15px;
        background-color: #FEE2D7;
        color: #8998AC;
    }
    
    #second_div {
        position: relative;
    }
    
    #frist_div {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        background-color: #FD6D36;
        transform: rotate(-36deg);
        margin-top: 17px;
        margin-inline: -59px;
        padding: 5px 67px;
        font-size: 11px;
        z-index: 9999;
    }
    
    #logo_dis {
        font-size: small;
        text-align: center;
        margin-top: 9px;
    }
    
    #div2 {
        margin-right: 3%;
    }
    
    .butd {
        padding: 5px 28px;
        border-radius: 22px;
        font-size: 15px;
        background-color: #fff0eb;
        color: #FD6E36;
        font-weight: 600;
    }
    
    #div3 {
        text-align: left;
    }
    
    #fot_p {
        color: white;
        font-weight: 500;
    }
    
    #li_s {
        display: inline;
        margin: 3px;
    }